[submodule "sublibraries/arduinomedian"]
	path = sublibraries/arduinomedian
	url = git@github.com:orri93/arduinomedian.git
[submodule "extern/arduinomock"]
	path = extern/arduinomock
	url = git@github.com:orri93/arduino-mock.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:orri93/googletest.git
[submodule "sublibraries/arduinosort"]
	path = sublibraries/arduinosort
	url = git@github.com:orri93/arduinosort.git
[submodule "sublibraries/arduinodebug"]
	path = sublibraries/arduinodebug
	url = git@github.com:orri93/arduinodebug.git
[submodule "sublibraries/arduinoformat"]
	path = sublibraries/arduinoformat
	url = git@github.com:orri93/arduinoformat.git
[submodule "sublibraries/arduinosinled"]
	path = sublibraries/arduinosinled
	url = git@github.com:orri93/arduinosinled.git
[submodule "sublibraries/arduinotick"]
	path = sublibraries/arduinotick
	url = git@github.com:orri93/arduinotick.git
[submodule "sublibraries/arduinosensor"]
	path = sublibraries/arduinosensor
	url = git@github.com:orri93/arduinosenser.git
[submodule "sublibraries/arduinomax31865"]
	path = sublibraries/arduinomax31865
	url = git@github.com:orri93/arduinomax31865.git
[submodule "sublibraries/arduinomax6675"]
	path = sublibraries/arduinomax6675
	url = git@github.com:orri93/arduinomax6675.git
[submodule "extern/libraries/PWFusion_MAX31865"]
	path = extern/libraries/PWFusion_MAX31865
	url = git@github.com:orri93/PWFusion_MAX31865.git
[submodule "sublibraries/arduinomcp3208"]
	path = sublibraries/arduinomcp3208
	url = git@github.com:orri93/arduinomcp3208.git
[submodule "extern/libraries/MCP3208"]
	path = extern/libraries/MCP3208
	url = git@github.com:orri93/MCP3208.git
[submodule "sublibraries/arduinotemplates"]
	path = sublibraries/arduinotemplates
	url = git@github.com:orri93/arduinotemplates.git
